<nav class="navbar navbar-expand-lg  bg-light fixed-top"
  style=" background: linear-gradient(to bottom right, #ff3300 3%, #ffccff 100%);">
  <div class="container">
    <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span></button>
    <a class="navbar-brand"  style="font-family:cursive;" href="#">kk foods</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav mr-auto mt-2 mt-lg-0 mx-auto">
        <li class="nav-item active ">
          <a class="nav-link " href="/admin/home">Dash bord</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/admin/productDetails">Product details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/orderDetails">Order details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/userDetails">User Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="font-weight: bold;" href="/admin/catogaryManage">Catogary Manage</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/admin/coopen">Coopen Manage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/offer_create">Offer Manage</a>
        </li>
      </ul>

      <a href="/admin/logout" class="btnbtn btn-outline-primary  ms-auto">log out</a>
    </div>
  </div>
</nav>


<section style="margin-top: 4rem;">
  <div class="container">
    <div class="row">

      <div class="d-flex ">
       
        <div class="me-auto" style="margin-bottom: 17px;" id="addCatogary">
          <form class=" form-inline my-2 my-lg-0 ms-auto" name="addForm" onsubmit="return addCatogary()">
            <input class="form-control mr-sm-2" type="text" name="catogaryAdd" style="width: 200px;"
              placeholder="add new catogary" minlength="3" required>
            <button class="btn btn-primary my-2 my-sm-0" style="margin-left: 8;" type="submit">Add</button>
          </form>
        </div>

        <div class="me-auto" style="margin-bottom: 17px;" id="editCatogary">
          <button class="btn" onclick="closeedit()">x</button>
          <form onsubmit="return update()" class=" form-inline my-2 my-lg-0 ms-auto" name="updateform">

            <input id="editCatogatyName" class="form-control mr-sm-2" type="text" value="" name="changeCatogary"
              style="width: 200px;" placeholder="click edit btn then change" minlength="3" required>
            <button class="btn btn-primary my-2 my-sm-0" style="margin-left: 8;" type="submit">submit</button>
          </form>
        </div>
      </div>


    </div>

    <table id="myTable" class="display" style="margin-top: 20px;">
      <thead>
        <tr>
          <th scope="col">No</th>

          <th scope="col">catogary name</th>

          <th scope="col">action</th>
          <th scope="col">delete</th>
        </tr>
      </thead>
      <tbody>
        {{#each catogary}}

        <tr>

          <td>{{inc @index}}</td>

          <td>{{this.catogary}}</td>

          <td>
            <a onclick="edit('{{this._id}}')" class="btn btn-primary btn-block mb-4">edit</a>
            <a href="/admin/catogaryBlock?id={{this._id}}&delet={{this.block}}" class="btn btn-danger btn-block mb-4"
              onclick="return confirm('Are you sure ?')">{{this.block}}</a>
          </td>
          <td><a href="/admin/catogaryDelete?id={{this._id}}" class="btn   mb-4" style="color: #ff3300;"
              onclick="return confirm('Are you sure ?')">remove</a></td>
        </tr>

        {{/each}}

      </tbody>
    </table>

  </div>
</section>


<!-- Modal -->
<div class="modal fade  " id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" style="opacity: 1.3;background-color: rgba(0, 0, 0, 0.7);">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Alert Window</h5>
        <button type="button" id="modalClose" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Catogery Already exist Add new Catogery Name
      </div>
      <div class="modal-footer">
        {{!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> --}}
        {{!-- <button type="button" class="btn btn-primary">Understood</button> --}}
      </div>
    </div>
  </div>
</div>

{{!-- modal --}}
<script  src="/javascripts/adminCatogeryManage.js">


</script>