<nav class="navbar navbar-expand-lg  bg-light"
  style=" background: linear-gradient(to bottom right, #ff3300 3%, #ffccff 100%);">
  <div class="container">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
    aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#">kk foods</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 mx-auto">
      <li class="nav-item active ">
        <a class="nav-link " href="/admin/home">Dash bord</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/admin/productDetails">Product details</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/orderDetails">Order details</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/userDetails">User Details</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="font-weight: bold;" href="/admin/catogaryManage">Catogary Manage</a>
      </li>
      
       <li class="nav-item">
        <a class="nav-link"  href="/admin/coopen">Coopen Manage</a>
      </li>
       <li class="nav-item">
          <a class="nav-link" href="/admin/offer_create">Offer Manage</a>
        </li>
    </ul>

     <a href="/admin/logout" class="btn btn-outline-success btn-lg  ms-auto" >log out</a>
  </div>
  </div>
</nav>


<section style="margin-top: 10px;">
  <div class="container">
    <div class="row">

      <div class="d-flex ">
        <div>
          <form class=" form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" style="width: 200px;" placeholder="Search catogary">
            <button class="btn btn-outline-success my-2 my-sm-0" style="margin-left: 8;" type="submit">Search</button>
          </form>
        </div>
        <div class="ms-auto" id="addCatogary">
          <form class=" form-inline my-2 my-lg-0 ms-auto" method="post" action="/admin/catogaryAdd">
            <input class="form-control mr-sm-2" type="text" name="catogaryAdd" style="width: 200px;"
              placeholder="add new catogary" minlength="3" required>
            <button class="btn btn-primary my-2 my-sm-0" style="margin-left: 8;" type="submit">Add</button>
          </form>
        </div>

        <div class="ms-auto" id="editCatogary">
          <button class="btn" onclick="closeedit()">x</button>
          <form  onsubmit="return update()" class=" form-inline my-2 my-lg-0 ms-auto" name="updateform" >
          
            <input id="editCatogatyName" class="form-control mr-sm-2" type="text" value="" name="changeCatogary"
              style="width: 200px;" placeholder="click edit btn then change" minlength="3" required>
            <button class="btn btn-primary my-2 my-sm-0" style="margin-left: 8;" type="submit">submit</button>
          </form>
        </div>
      </div>


    </div>

    <table class="table" style="margin-top: 20px;">
      <thead>
        <tr>
          <th scope="col">No</th>

          <th scope="col">catogary name</th>

          <th scope="col">action</th>
          <th scope="col">delete</th>
        </tr>
      </thead>
      <tbody>
        {{#each catogary}}

        <tr>

          <td>{{inc @index}}</td>

          <td>{{this.catogary}}</td>

          <td>
            <a onclick="edit('{{this._id}}')" class="btn btn-primary btn-block mb-4">edit</a>
            <a href="/admin/catogaryBlock?id={{this._id}}&delet={{this.block}}" class="btn btn-danger btn-block mb-4"
              onclick="return confirm('Are you sure ?')">{{this.block}}</a>
          </td>
          <td><a href="/admin/catogaryDelete?id={{this._id}}" class="btn btn-danger btn-block mb-4"
              onclick="return confirm('Are you sure ?')">remove</a></td>
        </tr>

        {{/each}}

      </tbody>
    </table>

  </div>
</section>
<script>
  
 document.getElementById("addCatogary").style.display = "block";
  document.getElementById("editCatogary").style.display = "none";
 let updateId;
  function edit(id) {
    updateId=id;
    document.getElementById("addCatogary").style.display = "none";
  document.getElementById("editCatogary").style.display = "block";
  fetch('http://localhost:3000/admin/editCatogary',{
    method:"post",
    headers:{
      "Content-Type":"application/json"
    },
    body:JSON.stringify({id:id})

  }).then((data)=>data.json()).then((data)=>{
    console.log(data)
    document.getElementById('editCatogatyName').value=data.catogary
  })
 
  }
   function update(){
  let updateval=document.updateform.changeCatogary
  console.log('gggg')
  fetch('http://localhost:3000/admin/upadeCatogatiess',{
    method:"post",
    headers:{
      "Content-Type":"application/json"
    },
    body:JSON.stringify({id:updateId,catogaryAdd:updateval.value})
  }).then((data)=>data.json()).then((data)=>{
    console.log(data)
    location.reload()
  })
  return false
}

function closeedit(){
  document.getElementById("addCatogary").style.display = "block";
  document.getElementById("editCatogary").style.display = "none";
 
}

</script>