<nav class="navbar navbar-expand-lg  bg-light fixed-top"
  style=" background: linear-gradient(to bottom right, #ff3300 3%, #ffccff 100%);">
  <div class="container">
    <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span></button>
    <a class="navbar-brand"  style="font-family:cursive;" href="#">kk foods</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav mr-auto mt-2 mt-lg-0 mx-auto">
        <li class="nav-item active ">
          <a class="nav-link " href="/admin/home">Dash bord</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/admin/productDetails">Product details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/orderDetails">Order details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/userDetails">User Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/catogaryManage">Catogary Manage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="font-weight: bold;" href="/admin/coopen">Coopen Manage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/offer_create">Offer Manage</a>
        </li>
      </ul>

      <a href="/admin/logout" class="btn btn btn-outline-primary  ms-auto">log out</a>
    </div>
  </div>
</nav>
<section style="margin-top: 4rem;">
  <div class="container">
    

    {{!-- ########################## --}}
    <div class="me-auto" >
      <div ><a onclick="showWindow()" class="btn btn-primary mb-2">Add coupon</a></div>
      <table id="myTable" class="display" style="margin-top: 20px;">
      <thead>
          <tr>
            <th scope="col">Coupon name</th>
            <th scope="col">Coupon code</th>
            <th scope="col">Discount amt</th>
            <th scope="col">Min purchace amt</th>
            <th scope="col">Created date</th>
            <th scope="col">Expiry date</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {{#each result}}
          <tr style="height: 80px; ">
            <td>{{this.cpName}}</td>
            <td>{{this.cpCode}}</td>
            <td>{{this.cpDisamt}}</td>
            <td>{{this.cpPurchaseAmt}}</td>
            <td style="width: 200px;">{{this.cpstartDateTime}}</td>
            <td style="width: 200px;">{{this.cpEndDataTime}}</td>

            <td><a onclick="listCp('{{this._id}}','{{this.cpList}}')" class="btn btn-dark">{{this.cpList}}</a></td>



          </tr>
          {{/each}}
          {{!-- <tr id="newCoopen" style="height: 80px; "></tr> --}}
        </tbody>


      </table>
      <div class="w-50 ms-auto position-absolute top-50 start-50 translate-middle"
        style="background-color: rgb(151, 151, 151);margin-top: 0px; z-index: 1;display: none;" id="addwindow">

        <button class="btn ms-auto" onclick="closewindow()">X</button>

        <div class="card-body p-4 p-md-4 ">


          <form name="addform" onsubmit="return addcoopen()">

            <div class="row">
              <div class="col">
                <input type="text" class="form-control form-control-lg mb-3" placeholder="Name" name="cpName"
                  required />
              </div>
              <div class="col">
                <input type="text" class="form-control form-control-lg mb-3" placeholder="Code" name="cpCode"
                  required />
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 mb-4">

                <div class="form-outline mb-2">
                  <input type="text" id="discountAmt" name="cpDiscountAmt" class="form-control form-control-lg"
                    placeholder="Discount Amount" required />
                </div>
                <div class="form-outline mb-2">
                  <input type="text" id="minAmt" name="cpMinPurchaseAmt" class="form-control form-control-lg"
                    placeholder="Minimum purchase amount" required />
                </div>
                <div class="form-outline">
                  <input type="datetime-local" id="expDate" name="expDate" class="form-control form-control-lg"
                    required />
                </div>

              </div>
            </div>


            <div class="mt-4 pt-2" style="display: flex; justify-content: center;">
              <button class="btn btn-primary btn-lg" type="submit">submit</button>
            </div>

          </form>
        </div>
      </div>
    </div>


    <!-- continues the page content ... -->


    <script src="/javascripts/adminCoopenManage.js">

    </script>
    <script>
      $(document).ready( function () {
    $('#myTable').DataTable();
} );
    </script>