<section class=" ">

  <nav class="navbar navbar-expand-lg  bg-light fixed-top"
    style=" background: linear-gradient(to bottom right, #ff3300 3%, #ffccff 100%);">
    <div class="container">
      <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span></button>
      <a class="navbar-brand"  style="font-family:cursive;" href="#">kk foods</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 mx-auto">
          <li class="nav-item active ">
            <a class="nav-link " href="/admin/home">Dash bord</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/admin/productDetails" style="font-weight: bold;">Product details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/orderDetails">Order details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/userDetails">User Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/catogaryManage">Category Manage</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/coupen">Coupen Manage</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/offerCreate">Offer Manage</a>
          </li>
        </ul>

        <a href="/admin/logout" class="btn btn btn-outline-primary  ms-auto">log out</a>
      </div>
    </div>
  </nav>
</section>

<div class="container">
  <div class="card mx-4 mx-md-5 shadow-5-strong" style="
        margin-top: 84px;
        background: hsla(0, 0%, 100%, 0.8);
        backdrop-filter: blur(30px);
        ">
    <div class="card-body py-5 px-md-5">

      <div class="row d-flex justify-content-center" style="padding-left: 25%;">
        <div class="col-lg-8">
          <h2 class="fw-bold mb-5">Edit products</h2>

          <form action="/admin/editProduct/{{data._id}}" method="post" enctype="multipart/form-data" name="editForm"
            onsubmit="return validCheck()">
            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label id="proName0" for="validationDefault01">product Name <span style="color: #ff3300;">*</span></label>
                <label id="proName" style="color: #ff3300;" for="validationDefault01"></label>
                <input type="text" class="form-control" id="validationDefault01" name="productName"
                  style="width: 16rem;" value="{{data.productName}}" required>
              </div>
              <div class="col-md-4 mb-3">
                <label for="validationDefault02">catogery <span style="color: #ff3300;">*</span></label>

                <div class="dropdown">
                  <select class="btn btn-white dropdown-toggle" name="productCatogary" id="" style="
                                width: 15.5rem; border-color: black;">
                    <option class="dropdown-menu dropdown-menu-white" value="{{data.productCatogary}}"
                      style="width: 160%;">{{data.productCatogary}}</option>
                    {{#each datas}}
                    <option value="{{this.catogary}}">{{this.catogary}}</option>
                    {{/each}}
                  </select>
                </div>

                {{!-- <input type="text" class="form-control" id="validationDefault02" name="productCatogary" --}} {{!--
                  style="width: 160%;" value="{{data.productCatogary}}" required> --}}
              </div>
              <div class="col-md-4 mb-3">
                <label for="validationDefault02">discription</label>

                <textarea class="form-control" aria-valuetext="" name="productDiscription" aria-label="With textarea"
                  style="width: 16rem;">{{data.productDiscription}}</textarea>
              </div>

            </div>
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <label for="validationDefault03">₹ price <span style="color: #ff3300;">*</span></label>
                <input type="number" class="form-control" id="validationDefault03" name="productPrize"
                  style="width: 16rem;" value="{{data.productPrize}}" required min="0">
              </div>

              <div class="col-md-3 mb-3">
                <label for="validationDefault05">Main Image <span style="color: #ff3300;">*</span></label>
                
                <img src="/images/{{data.image1.[0].filename}}" alt="" style="height: 50px;width: 40px;" id="viewimage">
                <input type="file" onchange="viewImage(event)" class="form-control" id="validationDefault05" name="image1" style="width: 16rem;"
                  placeholder="image" >
              </div>
              <div class="col-md-3 mb-3">
                <label for="validationDefault05">Sub Images(max-3)</label>
                <div class="row">
                  <a type="button" data-bs-target="#staticBackdrop" data-bs-toggle="modal"
                    style="height: 50px;width: 50%;"><img src="/images/{{data.image2.[0].filename}}" alt="IMG1"
                      style="height: 50px;width: 100%;"></a>
                  <a type="button" data-bs-target="#staticBackdrop1" data-bs-toggle="modal"
                    style="height: 50px;width: 50%;"> <img src="/images/{{data.image2.[1].filename}}" alt="IMG2"
                      style="height: 50px;width: 100%; "></a>
                  <a type="button" data-bs-target="#staticBackdrop2" data-bs-toggle="modal"
                    style="height: 100px;width: 100%;"><img src="/images/{{data.image2.[2].filename}}" alt="IMAGE 3"
                      style="height: 100px;width: 100%;"></a>
                </div>

              </div>
            </div>

            <button class="btn btn-primary" type="submit">Submit form</button>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Single Image Action</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="/images/{{data.image2.[0].filename}}" alt="(IMG-1 EMPTY)" style="height: 50px;width: 7rem;" id="showIMG">
        <button onclick="imageChange('{{data._id}}','0')" type="button" class="btn "
          data-bs-dismiss="modal">Delete</button>
        <form name="imageForm2" enctype="multipart/form-data" onsubmit="return imagesAdd('{{data._id}}','0')">
          <input type="file" onchange="imgShow(event,'1')" value="" class="form-control" id="validationDefault05" name="image2" style="width: 16rem;"
            placeholder="image">
          <button type="submit" style="width: 53rem;" class="btn"> <a>Save</a></button>
        </form>

      </div>

    </div>
  </div>
</div>

{{!-- modal --}}
<!-- Modal2 -->
<div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Single Image Action</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="/images/{{data.image2.[1].filename}}" alt="(IMG-2 EMPTY) " style="height: 50px;width: 7rem;" id="showIMG1">
        <button onclick="imageChange('{{data._id}}','1')" type="button" class="btn "
          data-bs-dismiss="modal">Delete</button>
        <form name="imageForm1" enctype="multipart/form-data" onsubmit="return imagesAdd('{{data._id}}','1')">
          <input type="file" onchange="imgShow(event,'2')" value="" class="form-control" id="validationDefault05" name="image2" style="width: 16rem;"
            placeholder="image">
          <button type="submit" style="width: 53rem;" class="btn"> <a>Save</a></button>
        </form>

      </div>

    </div>
  </div>
</div>

{{!-- modal 2--}}
<!-- Modal3 -->
<div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Single Image Action</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="/images/{{data.image2.[2].filename}}" alt="(IMG-3 EMPTY)" style="height: 50px;width: 7rem;" id="showIMG2">
        <button onclick="imageChange('{{data._id}}','2')" type="button" class="btn "
          data-bs-dismiss="modal">Delete</button>
        <div class="row">
          <form name="imageForm" enctype="multipart/form-data" onsubmit="return imagesAdd('{{data._id}}','2')">
            <input type="file" onchange="imgShow(event,'3')" value="" class="form-control" id="validationDefault05" name="image2"
              style="width: 16rem;" placeholder="image">
            <button type="submit" style="width: 53rem;" class="btn"> <a>Save</a></button>
          </form>
        </div>

      </div>

    </div>
  </div>
</div>

{{!-- modal 3--}}
<script src="/javascripts/adminEditProduct.js">

</script>
