<nav class="navbar navbar-expand-lg  bg-light fixed-top"
  style=" background: linear-gradient(to bottom right, #ff3300 3%, #ffccff 100%);">
  <div class="container">
    <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span></button>
    <a class="navbar-brand"  style="font-family:cursive;" href="#">kk foods</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav mr-auto mt-2 mt-lg-0 mx-auto">
        <li class="nav-item active ">
          <a class="nav-link " href="/admin/home">Dash bord</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/admin/productDetails">Product details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/orderDetails" style="font-weight: bold;">Order details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/userDetails">User Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/catogaryManage">Catogary Manage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/coopen">Coopen Manage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/offer_create">Offer Manage</a>
        </li>
      </ul>

      <a href="/admin/logout" class="btn btn btn-outline-primary  ms-auto">log out</a>
    </div>
  </div>
</nav>

<section style="margin-top: 4rem;">
  <div class="container">
    
    <table id="myTable" class="display" style="margin-top: 20px;">
      <thead>
        <tr>
          <th scope="col">Ordered Date</th>
          <th scope="col">User Name</th>
          <th scope="col">User Address</th>
          <th scope="col">Image&Name</th>
          <th scope="col">Product Quantity</th>
          <th scope="col">Price</th>
          <th scope="col">Pay Method</th>
          <th scope="col">Coupen Status</th>
          <th scope="col">Order Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {{#each orders}}
        

        <tr>
          <td>{{this.OrderDate}}</td>
          <td>{{this.userName}}</td>
          <td style="width: 10rem;">{{this.address}}</td>
          <td><img src="/images/{{this.image}}" alt="" style="width: 40px;height: 50px;"><br>{{this.proName}}</td>
          <td>{{this.quantity}}</td>
          <td>{{this.productPrize}}</td>
          <td> {{this.paymethod}}</td>
          <td>{{this.coupenSts.disAmt}}</td>

            
            <td>{{#ifEqual this.orderStatus "Orderd"}}
          <a id="{{this.orderid}}" class="btn btn-primary  mb-4">processing</a>
           {{/ifEqual}}
           {{#ifEqual this.orderStatus "Delivered"}}
            <a class="btn btn-success btn-block mb-4">delivered</a>
             {{/ifEqual}}
             {{#ifEqual this.orderStatus "Cancel"}}
            <a class="btn btn-danger btn-block mb-4">Canceled</a>
             {{/ifEqual}} 
          </td>
           
           <td>
            {{#ifEqual this.orderStatus "Orderd"}}
            <a class="btn btn-white btn-block mb-4"
              onclick="orderCancel('{{this.userId}}','{{this.proOrderId}}','{{this.proId}}','Delivered')">delivered</a>
            <a class="btn btn-white btn-block mb-4"
              onclick="orderCancel('{{this.userId}}','{{this.proOrderId}}','{{this.proId}}','Cancel')">Cancel</a>
           
            {{/ifEqual}}
           
          </td>
        </tr>      
        {{/each}}

      </tbody>
    </table>

  </div>
</section>

<script src="/javascripts/adminOrderDetails.js">


</script>
<script>
  

  $(document).ready( function () {
    $('#myTable').DataTable();
} );
  
</script>
