<nav class="navbar navbar-expand-lg  bg-light" style=" background: linear-gradient(to bottom right, #ff3300 3%, #ffccff 100%);">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#">Logo</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 mx-auto">
        <li class="nav-item active ">
        <a class="nav-link " href="/admin/home" >Dash bord</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/admin/productDetails">Product details</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/orderDetails">Order details</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/admin/userDetails" style="font-weight: bold;">User Details</a>
      </li>
      
    </ul>

    <button class="btn btn-outline-success btn-lg  ms-auto" type="submit">Logout</button>
  </div>
</nav>

<section style="margin-top: 10px;">
    <div class="container">
        <div class="row">
               <form class="form-inline my-2 my-lg-0">
                <div class="d-flex">
      <input class="form-control mr-sm-2" type="text" placeholder="Search user">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </div>
    </form>
            
         
         </div>

         <table class="table" style="margin-top: 20px;">
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">Name</th>
      <th scope="col">MobNumber</th>
      <th scope="col">Email</th>
      <th scope="col">Address</th>
       <th scope="col">status</th>
       <th scope="col">action </th>
    </tr>
  </thead>
  <tbody>
    {{#each result}}
    <tr>
     
       <td>{{@index}}</td>
      <td>{{this.name1}}</td>
      <td>123456789</td>
      <td>{{this.email}}</td>
     
      <td>hh</td>
       <td>{{this.block}}</td>
      <td>
      <a href="/admin/block/{{this._id}}" class="btn btn-danger btn-block mb-4" onclick="return confirm('Are you sure ?')" >block</a> 
       <a href="/admin/unblock/{{this._id}}" class="btn btn-success btn-block mb-4" onclick="return confirm('Are you sure ?')" >unBlock</a> 
      </td>
    </tr>
   {{/each}}
   
  </tbody>
</table>

    </div>
</section>